{% extends 'base.html' %}
{% load static %} 
{% block content %}

<div class="container">
    <div class="title">
        <h1>The API</h1>
    </div>
    <p>
        <h5>Rules</h5> 
        1. Queries must be SELECT queries from the given table only.<br>
        2. Queries must be on the whole data set, i.e. keyword "LIMIT" is not allowed.<br>
        3. Queries must return a numeric result that is statistical information, i.e. queries should contain functions like COUNT(), AVG(), SUM(), STDDEV(), VARIANCE().<br>
        4. "WHERE" conditions are allowed, but queries only return a result when the sample set has more than 10 entries.<br>
        5. Query results are processed by the Laplace mechanism of differential privacy. COUNT() queries will be processed with epsilon 0.5, other queries will be processed with epsilon 1.0. 
    </p>
    <p>
        <h5>Data set information</h5>
        <b>Table name:</b> experiments_statlog<br>
        <b>Columns:</b> "account_status", "duration", "credit_history", "purpose", "credit_amount", "savings_account", "present_employment_since", "installment_rate_in_income", "personal_status_and_sex", 
        "guarantors", "present_residence_since", "property", "age", "other_installment_plans", "housing", "existing_credits", "job", "maintenance_provider_number", "telephone", "foreign_worker". <br>
        <b>Sensitive columns:</b> "age", "personal_status_and_sex"<br>
        <b>Note:</b> Details of column values of this demo data set please see https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/german/german.data
    </p>

    <h3 class="mt-5">Make a query</h3>
    <form method="GET" action="api/result" class="row mt-5 justify-content-center">
        <input required class="form-control col-9" name="query" style="border: 2px solid grey"/>
        <input class="col-1 btn btn-info" type="submit" value="Go" id="submission"/>
    </form>
    <div class="mt-5">
        <h5>Examples</h5>
        Querying the average age: <br>SELECT AVG(age) FROM experiments_statlog <br><br>
        Querying the number of people with over 200DM in their account (A13) and make a loan to buy new car (A40): <br>SELECT COUNT(*) FROM experiments_statlog WHERE account_status="A13" and purpose="A40"
    </div>
    <div class="mt-5">
        <h5>Make queries with Python</h5>
        Below shows a sample code of making queries with Python. <br><br>
        import urllib.parse<br>
        import urllib.request<br>
        query = "SELECT AVG(age) FROM experiments_statlog"<br>
        encoded_query = urllib.parse.quote_plus(query)<br>
        url = "http://thediscriminationfreemodel.uk/demo/api/result?query="+encoded_query<br>
        webURL = urllib.request.urlopen(url)<br>
        result = float(webURL.read())<br>
        print(result)<br>
    </div>
</div>
{% endblock %}