{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static '/css/common.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    </head>

    <body>
        {% include 'header.html' %}

        {% block content %}
        {% endblock %}
        <br>
        <br>
        <br>
        <footer class="footer">
            <div class="container">
                <p class="text-muted">Author: Zhuolun Li<br>Email: lizhuolun199904@gmail.com</p>
            </div>
        </footer>
    </body>
</html>