{% extends 'base.html' %}
{% load static %} 
{% block content %}
<link rel="stylesheet" href="{% static '/css/contract.css' %}">

<div class="container" style="width: 900px;">
    <div class="title">
        <h1>Form Creation</h1>
    </div>
    <p>
        <b>Note: </b>Sensitive attributes are normally age, gender, race, income, marital status, location. Please attempt to justify the reason why an attribute is sensitive or non-sensitive where necessary.
    </p>
    <form id="form" method="POST" action="index"> {% csrf_token %}
        <div class="company_information" style="margin-bottom: 50px;">
            <b>Company name</b>
            <input required class="form-control"/>
            <br>
            <b>Form description</b>
            <textarea class="form-control" rows=3></textarea>
            <br>
            <b>Business Email</b>
            <input required class="form-control"/>
        </div>
        <hr/><br>
        <input type="button" id="add_field" value="add a field" name="add_field" class="btn btn-info"/>
        <input class="form-control btn btn-success mt-5" type="submit" value="save" id="submission"/>
    </form>
</div>

<div id="new_field" class="field" style="display: none;">
    <h5>Basic information</h5>
    <div class="form-group">
        <b>Field name</b>
        <input required class="form-control"/>
    </div>
    <div class="form-group">
        <b>Field description</b>
        <textarea class="form-control" rows=3></textarea>
    </div>
    <b>Field type</b>
    <select class="form-control field_type">
        <option value="text_field">text field</option>
        <option value="choice_field">choice field</option>
    </select>
    <div class="text_field_details">
        <label>Text type</label>
        <select class="form-control field_type">
            <option>numeric</option>
            <option>short string (one line text area)</option>
            <option>long string (multiple line text area)</option>
        </select>
    </div>
    <div class="choice_field_details" style="display: none;">
        <label>Choices</label><br>
        <input placeholder='enter a choice' class='choice'>
        <input type='button' value='add a choice' class='add_choice'/>
    </div>
    <br>
    <h5>Is this sensitive?</h5>
    <div class="form-group">
        <label>This is a sensitive attribute</label>
        <input type="checkbox" class="is_sensitive"/>
        <div class="sensitive_details" style="display: none;">
            <select class="form-control sensitive_type">
                <label>I think I want to </label>
                <option value="hide">hide this </option>
                <option value="abstract">abstract this </option>
            </select>
            <div class="abstraction_details" style="display: none;">
                <label>How do you want to abstract this?</label>
                <textarea class="form-control" rows=3></textarea>
            </div>
        </div>
        <br>
        <label>Any specific reasons?</label>
        <textarea class="form-control" rows=3 placeholder='Why it is or why it is not'></textarea>
    </div>
    <input type="button" class="remove btn btn-danger" value="remove field"/>
</div>

<div id="new_choice" style="display: none;">
    <input placeholder='enter a choice' class='choice'>
    <input type="button" class="remove" value="remove choice"/>
</div>

<script type="text/javascript" src="{% static '/js/contract.js' %}"></script>
{% endblock %}