{% extends 'base.html' %}
{% load static %} 
{% block content %}
<form>
    <input type="button" id="add_field" value="add a field" name="add_field"/>
</form>

<div id="new_field" style="display: none;">
    <div class="form-group">
        <label>Field name</label>
        <input class="form-control">
    </div>
    <div class="form-group">
        <label>Field description</label>
        <textarea class="form-control" rows=3></textarea>
    </div>
    <label>Field type</label>
    <select class="form-control field_type">
        <option value="text_field">text field</option>
        <option value="choice_field">choice field</option>
    </select>
    <div class="choice_field_details" style="display: none;">
        <input type='button' value='add a choice' class='add_choice'/>
    </div>
    <input type="button" class="remove" value="remove field"></span>
</div>
<script>
$("#add_field").click(function() {
    $("#new_field").clone(true).insertBefore("form > input:last-child").attr("id", "").show();
});

$(".remove").click(function() {
    $(this).parent().remove();
});

$(".field_type").change(function(){
    if($(this).val()=="choice_field"){
        $(this).next().show();
    }
    if($(this).val()=="text_field"){
        $(this).next().hide();
    }
});

$(".add_choice").click(function() {
    $("<input placeholder='enter a choice' class='choice'>").insertBefore($(this));
});

</script>
{% endblock %}