{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/demo_index.css' %}">

<div class="container">
    <div class="title">
        <h1> Demo </h1>
    </div>
    <h2 style="margin-bottom: 30px;">The DDP App Demo Pages</h2>
    <div class="row text-center">
        <div class="col-4">
            <div class="card">
                <div class="card-body" style="margin:10px;">
                    <a href="contract" class="card-link"><h5 class="card-title">Create forms</h5></a>
                    <h6 class="card-subtitle mb-2 text-muted">For organizations</h6>
                    <p class="card-text">Organizations create their forms here for individuals to fill in. Organizations should specify every details of each attributes in the form.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body" style="margin:10px;">
                    <a href="submission" class="card-link"><h5 class="card-title">Submit data</h5></a>
                    <h6 class="card-subtitle mb-2 text-muted">For individuals</h6>
                    <p class="card-text">Individuals submit their information here. This demo page uses the form for the Statlog (German Credit Data) Data Set.</p>
                    
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body" style="margin:10px;">
                        <a href="api" class="card-link"><h5 class="card-title">Make queries</h5></a>
                    <h6 class="card-subtitle mb-2 text-muted">For organizations</h6>
                    <p class="card-text">Once more than 10 people submitted their data, organizations can make queries on the data set through this API, This demo page use the Statlog (German Credit Data) Data Set as the example.</p>
                </div>
            </div>
        </div>
    </div>

    <h2 style="margin-top: 30px; margin-bottom: 30px;">Process demonstration</h2>
    <div class="row">
        <div class="col-md-4">
            <h3 class="text-center">Organization</h3>
            <div class="text-center">
                <div class="card step" id="step1">
                    <div class="card-body">
                        <h4 class="card-title">1. Create a form</h4>
                        <p class="card-text">
                            <p>
                                Firstly, organizations create a form to specify what information they want to collect. In the case of the Statlog (German Credit Data) Data Set the form will look like <a href="statlog_contract">this</a>. 
                            </p>
                            {% if submission_data == null %}
                            <input type="button" id="1next" value="next"/>
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="card step" id="step5" style="display: none;">
                    <div class="card-body">
                    <h4>5. run algorithms</h4>
                        <p>
                            The organization can run the algorithm with the received non-sensitive data.
                        </p>
                        <p id="brief">
                            account status: {{submission_data.account_status}}, duration: {{submission_data.duration}} ...
                            <input type="button" id="see_details" value="see details">
                        </p>
                        <p id="details" style="display: none;">
                            account status: {{submission_data.account_status}}, duration: {{submission_data.duration}}, credit history: {{submission_data.credit_history}}, 
                            purpose: {{submission_data.purpose}}, credit amount: {{submission_data.credit_amount}}, savings account: {{submission_data.savings_account}}, 
                            present employment since, {{submission_data.present_employment_since}}, installment rate in income: {{submission_data.installment_rate_in_income}}, 
                            guarantors: {{submission_data.guarantors}}, present residence since: {{submission_data.present_residence_since}}, property: {{submission_data.property}}, 
                            other installment plans: {{submission_data.other_installment_plans}}, housing: {{submission_data.housing}}, existing credits: {{submission_data.existing_credits}}, 
                            job: {{submission_data.job}}, maintenance provider number: {{submission_data.maintenance_provider_number}}, telephone: {{submission_data.telephone}}, 
                            foreign worker: {{submission_data.foreign_worker}} 
                            <input type="button" id="hide_details" value="hide details"/>
                        </p>
                        <input type="button" id="predict" value="run algorithm" name="predict"/>
                        <p id="result" style="display:none;"></p>
                        <input type="button" id="5next" value="next"/>
                    </div>
                </div>
                <div class="card step" id="step6" style="display: none;">
                    <div class="card-body">
                        <h4>6. Make queries</h4>
                        <p>
                            Lastly, the organization can <a href="api">make queries</a> once there are more than 10 people submitted their data. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" id="the_app">
            <h3 class="text-center">The DDP App</h3>
            <div class="text-center">
                {% if submission_data != null %}
                <div class="card step" id="step2">
                {% else %}
                <div class="card step" id="step2" style="display: none;">
                {% endif %}
                    <div class="card-body">
                        <h4>2. Finalize the form</h4>
                        <p>
                            The party of the DDP app will manually check the details of the form. If it looks good, the form will be released for individuals to submit, else the party of the app will communicate with the organization and make changes potentially.
                        </p>
                        {% if submission_data == null %}
                        <input type="button" id="2next" value="next"/>
                        {% endif %}
                    </div>
                </div>
                
                <div class="card step" id="step4" style="display: none;">
                    <div class="card-body">
                        <h4>4. save and preserve sensitive data</h4>
                        <p>Once the app receive a form, the data will be saved, non-sensitive data will be sent to the organization automatically</p>
                        <p>Sensitive information will be kept secret: marital status: {{ submission_data.personal_status_and_sex }}, age: {{ submission_data.age }}</p>
                        <input type="button" id="4next" value="next"/>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div class="col-md-4">
            <h3 class="text-center">Individual</h3>
            <div class="text-center">
                {% if submission_data != null %}
                <div class="card step" id="step3">
                {% else %}
                <div class="card step" id="step3" style="display: none;">
                {% endif %}
                    <div class="card-body">
                        <h4>3. submission</h4>
                        <p>
                            Once the form is released, individuals can submit a data with the form.
                        </p>
                        {% if submission_data != null %}
                            <input type="button" id="3next" value="next"/>
                        {% else %}
                            <span><a href="submission?accept_return=true">submit a data</a> to go next</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="csrf_token" value="{{ csrf_token }}">
{% if submission_data != null %}
    <input type="hidden" id="account_status" value={{submission_data.account_status}}>
    <input type="hidden" id="duration" value={{submission_data.duration}}>
    <input type="hidden" id="credit_history" value={{submission_data.credit_history}}>
    <input type="hidden" id="purpose" value={{submission_data.purpose}}>
    <input type="hidden" id="credit_amount" value= {{submission_data.credit_amount}}>
    <input type="hidden" id="savings_account" value={{submission_data.savings_account}}>
    <input type="hidden" id="present_employment_since" value={{submission_data.present_employment_since}}>
    <input type="hidden" id="installment_rate_in_income" value={{submission_data.installment_rate_in_income}}>
    <input type="hidden" id="guarantors" value={{submission_data.guarantors}}>
    <input type="hidden" id="present_residence_since" value={{submission_data.present_residence_since}}>
    <input type="hidden" id="other_installment_plans" value={{submission_data.other_installment_plans}}>
    <input type="hidden" id="housing" value={{submission_data.housing}}>
    <input type="hidden" id="existing_credits" value={{submission_data.existing_credits}}>
    <input type="hidden" id="job" value={{submission_data.job}}>
    <input type="hidden" id="maintenance_provider_number" value={{submission_data.maintenance_provider_number}}>
    <input type="hidden" id="telephone" value={{submission_data.telephone}}>
    <input type="hidden" id="foreign_worker" value={{submission_data.foreign_worker}}>
{% endif %}

<script type="text/javascript" src="{% static '/js/demo_index.js' %}"></script>
{% endblock %}