{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1> Demo </h1>
<h4> This is a process demonstration of the Digital Discrimination Prevention Third Party (DDPTP) model</h4>

<h2 class="text-center">Demo 1</h2>
<div class="row">
    <div class="col-md-4">
        <h3 class="text-center">Individual</h3>
        <div class="text-center">
            <h4>1. submission</h4>
            <a href="/demo/submission">submit a data here</a>
        </div>
    </div>
    <div class="col-md-4">
        <h3 class="text-center">DDPTP Application</h3>
        <div class="text-center">
            {% if submission_data != null %}
                <h4>2. save and preserve sensitive data</h4>    
                <p>marital status: {{ submission_data.marital_status }}, race: {{ submission_data.race }}, sex: {{ submission_data.sex }}, native country: {{submission_data.native_country}} </p>
                <p>non-sensitive data is sent to the organization automatically</p>
            {% endif %}
        </div>
        <br>
    </div>
    <div class="col-md-4">
        <h3 class="text-center">Organization</h3>
        <div class="text-center">
            {% if submission_data != null %}
                <h4>3. run algorithm</h4>    
                <p>age: {{submission_data.age}}, workclass: {{submission_data.workclass}}, fnlwgt: {{submission_data.fnlwgt}}, education: {{submission_data.education}}, education num: {{submission_data.education_num}}, occupation: {{submission_data.occupation}}, relationship: {{submission_data.relationship}}, capital gain, {{submission_data.capital_gain}}, capital loss: {{submission_data.capital_loss}}, hours per week: {{submission_data.hours_per_week}} </p>
                <input type="button" id="predict" value="run algorithm" name="predict"/>
                <!-- </form> -->
                <p id="result" style="display:none;"></p>
            {% endif %}
        </div>
    </div>
</div>

<!-- <h2 class="text-center">Demo 2 (verification step demo)</h2>
<div class="row" class="text-center">
    <div class="col-md-6">
        <h3 class="text-center">DDPTP Application</h3>
        <div>
            <h4>2. Verify</h4>
            <p>Observer the sensitive data distribution in the decision set</p>
        </div>
    </div>
    <div class="col-md-6">
        <h3 class="text-center">Organization</h3>
        <div>
            <h4>1. Made a large set of decision</h4>
            <p>The results are returned to the application</p>
        </div>
    </div>
</div> -->

<input type="hidden" id="csrf_token" value="{{ csrf_token }}">
{% if submission_data != null %}
    <input type="hidden" id="account_status" value={{submission_data.account_status}}>
    <input type="hidden" id="duration" value={{submission_data.duration}}>
    <input type="hidden" id="credit_history" value={{submission_data.credit_history}}>
    <input type="hidden" id="purpose" value={{submission_data.purpose}}>
    <input type="hidden" id="credit_amount" value= {{submission_data.credit_amount}}>
    <input type="hidden" id="savings_account" value={{submission_data.savings_account}}>
    <input type="hidden" id="present_employment_since" value={{submission_data.present_employment_since}}>
    <input type="hidden" id="installment_rate_in_income" value={{submission_data.installment_rate_in_income}}>
    <input type="hidden" id="guarantors" value={{submission_data.guarantors}}>
    <input type="hidden" id="present_residence_since" value={{submission_data.present_residence_since}}>
    <input type="hidden" id="other_installment_plans" value={{submission_data.other_installment_plans}}>
    <input type="hidden" id="housing" value={{submission_data.housing}}>
    <input type="hidden" id="existing_credits" value={{submission_data.existing_credits}}>
    <input type="hidden" id="job" value={{submission_data.job}}>
    <input type="hidden" id="maintenance_provider_number" value={{submission_data.maintenance_provider_number}}>
    <input type="hidden" id="telephone" value={{submission_data.telephone}}>
    <input type="hidden" id="foreign_worker" value={{submission_data.foreign_worker}}>
{% endif %}

<script type="text/javascript" src="{% static '/js/demo_index.js' %}"></script>
{% endblock %}