{% extends 'base.html' %}

{% block content %}
    <h1>Digital Discrimination Prevention Model</h1>
    <h4>Author: Zhuolun Li</h4>

    <div>
        This is a awesome model
        <!-- {{ my_text|capfirst }}

        <ul>
            {% for item in my_list %}
                {% if item == 1 %}
                    <li>{{item|add:22}}</li>
                {% else %}
                    <li>{{item}}</li>
                {% endif %}
            {% endfor %}
        </ul> -->
    </div>
{% endblock %}
