{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static '/css/home.css' %}">

<div class="container">
    <div class="text-center" id="title">
        <h1>A Privacy-Aware Discrimination Prevention Workflow</h1>
        <p id="description" class="mt-5 text-muted">The workflow is proposed to prevent discrimination and protect privacy.<br> It is a carefully designed and tested process for organizations and individuals to follow,<br> in the context that organizations use algorithms to classify individuals.</p>
    </div>

    <div class="row text-center">
        <div class="col-md-4">
            <div class="feature p-3 p-md-4 mx-auto">
                <div class="icon">
                    <img src="{% static '/images/balance.png' %}" width="110px">
                </div>
                <h5 class="mb-3">Prevents Discrimination</h5>
                <p class="text-muted">Prevent discrimination from algorithms easily with the help of the third-party application. Value individuals' right.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="feature p-3 p-md-4 mx-auto">
                <div class="icon">
                    <img src="{% static '/images/lock.png' %}" width="90px">
                </div>
                <h5 class="mb-3">Protects Privacy</h5>
                <p class="text-muted">Protect individuals' sensitive information from being accessed by decision-making algorithms. Eliminate discrimination from the root.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="feature p-3 p-md-4 mx-auto">
                <div class="icon">
                    <img src="{% static '/images/chart.png' %}" width="100px">
                </div>
                <h5 class="mb-3">Preserves Business Insight</h5>
                <p class="text-muted">Allows businesses to access sensitive information statistically. Be considerate to businesses.</p>
            </div>
        </div>
    </div>

    
    <div class="row mt-5 text-center">
        <div class="col-sm-6">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">See Demo</h5>
                <p class="card-text">Navigate how the workflow works with an example. Play with each processes and see how individuals and organizations act in the workflow.</p>
                <a href="demo/index" class="btn btn-primary">Go to demo</a>
            </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">See Experiments</h5>
                <p class="card-text">View experiments and findings about the workflow, understand why the workflow is effective. Even run your own experiments to see how it goes.</p>
                <a href="experiments" class="btn btn-primary">Go to experiments</a>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
