{% extends 'base.html' %}
{% load static %} 
{% block content %}
<div class="container" style="width: 900px;">
    <div class="title">
        <h1>{{ texts.title }}</h1>
        <br>
        <p class="text-muted">{{ texts.description }}</p>
        <p>You can check how the algorithm that the organization use performs through <a href="verification">the algorithm status</a>.</p>
    </div>
    <form method="POST" action="index"> {% csrf_token %}
        {{form.as_p}}
        <input type="hidden" value="{{accept_return}}" name="accept_return"/>
        <input type="submit" value="submit" name="submission"/>
    </form>
</div>

<script>
$("p").addClass("form-group");
$("input").addClass("form-control");
$("select").addClass("form-control");
$("[name='submission']").addClass("btn btn-success");
$("<b class='text-info'>(Protected) </b>").insertBefore("[for='id_age']");
$("<b class='text-info'>(Protected) </b>").insertBefore("[for='id_personal_status_and_sex']");
</script>

{% endblock %}