{% extends 'base.html' %}
{% load static %} 
{% block content %}
<div class="container" style="width: 900px;">
    <br>
    <h1>{{ texts.title }}</h1>
    <br>
    <p>{{ texts.description }}</p>
    <form method="POST" action="index"> {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="submit" name="submission"/>
    </form>
</div>

<script>
$("p").addClass("form-group");
$("input").addClass("form-control");
$("select").addClass("form-control");
$("[name='submission']").addClass("btn btn-success");
$("<span class='text-info'>(Protected) </span>").insertBefore("[for='id_age']");
$("<span class='text-info'>(Protected) </span>").insertBefore("[for='id_personal_status_and_sex']");
</script>

{% endblock %}